<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Stocks</h1>
			{{liquid-outlet}}
			<table class="table table-hover">
				<thead>
					<th {{action 'sortBy' 'code'}}>Stock Code</th>
					<th {{action 'sortBy' 'companyName'}}>Company Name</th>
					<th {{action 'sortBy' 'currentPrice'}}>Current Price</th>
					<th {{action 'sortBy' 'pe'}}>P/E</th>
					<th {{action 'sortBy' 'priceSales'}}>P/S</th>
					<th {{action 'sortBy' 'eps'}}>EPS</th>
					<th {{action 'sortBy' 'totalCashPerShare'}}>Cash holdings per Share</th>
					<th {{action 'sortBy' 'bookValuePerShare'}}>BVPS</th>
					<th {{action 'sortBy' 'dividenYield'}}>Dividen Yield</th>
					<th {{action 'sortBy' 'profitMargin'}}>Net Profit Margin</th>
					<th {{action 'sortBy' 'totalDebt'}}>Debt</th>
					<th {{action 'sortBy' 'notes'}}>Notes</th>
					<th {{action 'sortBy' 'yearsDebt'}}>Years to pay off Debt</th>
					<th {{action 'sortBy' 'shares'}}>Shares</th>
				</thead>
				<tbody>
					{{#each stock in this}}
						<tr>
							<td>{{stock.code}}</td>
							<td>{{stock.companyName}}</td>
							<td>{{stock.currentPrice}}</td>
							<td>{{stock.pe}}</td>
							<td>{{stock.priceSales}}</td>
							<td>{{stock.eps}}</td>
							<td>{{stock.totalCashPerShare}}</td>
							<td>{{stock.bookValuePerShare}}</td>
							<td>{{stock.dividendYield}}</td>
							<td>{{stock.profitMargin}}</td>
							<td>{{stock.totalDebt}}</td>
							<td>{{input value=stock.notes}}</td>
							<td>{{stock.yearsDebt}}</td>
							<td>{{stock.shares}}</td>
							<th>
								{{#if stock.isSaving}}
									<p>saving...</p>
								{{else}}	
									{{#if stock.isDirty}}
										<a href="#" {{action 'saveNote' stock}} class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span></a>
									{{/if}}
								{{/if}}
								<a href="#" {{action 'delete' stock}} class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
							</th>
						</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</div>